@charset "UTF-8";


		* {
				-ms-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				border: 0;
				}
	body {
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				background: url(https://media.istockphoto.com/vectors/background-of-questions-mark-help-symbol-white-color-on-yellow-vector-id468123738?b=1&k=20&m=468123738&s=612x612&w=0&h=prtEqPmaHqoA8zHU2c_0cJfDov3NYfkwZ2hMpTsDSb8=) repeat fixed;
				font-family: 'Open Sans', sans-serif;
				font-weight: 200;
				}
	.legend {
					display: flex;
				 	justify-content: center;
				 	flex-direction: column;
					width: 75%;
					height:100%;
					display: block;
					background: rgba(248, 233, 35, 0.7);
					padding: 15px;
					color: black;
					font-size: 20px;
					text-align: center;
					  
					}
		.input {
  					display: flex;
          			align-items: center;
          			flex-direction: column;
  					text-align: center;
  					position: relative;
  					width: 90%;
  					margin: 15px auto;
  				}
	   input{
				    width: 50%;
				    padding: 10px 5px 10px 40px;
				    display: block;
				    border: 1px solid #EDEDED;
				    border-radius: 4px;
				    transition: 0.2s ease-out;
				    color: rgb(232,59,104);
				    text-align:center;
				    align-items: center;
				}
	:focus {
				      padding: 10px 5px 10px 10px;
				      outline: 0;
				      border-color: #FF7052;
				 }

	#quiz {
					 display: block;
					 margin-left: auto;
					 margin-right: auto;
					 height: 100px;
					 width:170px;
					 padding-top: 40px;
					 z-index: -1;
			}
	 h2 {
			padding-top: 50px;
			text-align:center;
			color:#3B3C9B;
 			 text-shadow: 2px 2px;
			}
    div{
			font-size: 14px;
			text-align:center;
			}
	P {
			text-align:center;
			color: white;
  			text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
			}

	.pregresp {
			border: 1px solid #7DA5E0;
			padding: 10px;
			margin: 10px;
			font-family: Rockwell;
			font-size: 15px;
			font-weight: bold;
		}
		
	.pregunta {
			color: #7DA5E0;
		}
		
	.respuestas {
				color: #000000;
	}
	form { 
				display:flex;
	}

