<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PregRest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>buscarPartidasServlet</display-name>
    <servlet-name>buscarPartidasServlet</servlet-name>
    <servlet-class>com.afd.trivial.controlador.buscarPartidasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarPartidasServlet</servlet-name>
    <url-pattern>/buscarPartidas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarPartidas</display-name>
    <servlet-name>buscarPartidas</servlet-name>
    <servlet-class>com.afd.trivial.controlador.buscarPartidas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarPartidas</servlet-name>
    <url-pattern>/buscarPartidas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JugarServlet</display-name>
    <servlet-name>JugarServlet</servlet-name>
    <servlet-class>com.afd.trivial.controlador.JugarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JugarServlet</servlet-name>
    <url-pattern>/Jugar</url-pattern>
  </servlet-mapping>
</web-app>